





.pattern-image{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 20%;
    
}

.logo{
    width: 10%;
    height: 65px;
}

.signature{
    color: grey;
    font-weight: bolder;
}

.photos-description{
    font-size: 11px;
}















#signature-name{
    color: rgb(87, 184, 216);
}

#signature-date{
    font-size: small;
    font-weight: normal;
}


